* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --dark: #315a38;
    --main: #5ea275;
    --light: #f6e5d1;
    --accent: #e0d89c;
    --accent2: #f6c9a7;
}

body {
    background-color: var(--dark);
    font-family: "Merriweather", "roboto", serif;
}

/* Header */

.navbar {
    display: flex;
    background-color: var(--main);
    align-items: center;
    padding-top: 1rem;
    box-shadow: black 0 7px 15px;
    padding: 0 2rem;
    z-index: 999;
}

.navbar h1 {
    font-size: 30px;
    color: white;
    margin-right: auto;
    margin-left: 3rem;
}

.navbar img {
    width: 150px;
    margin-right: auto;
}

.navbar ul {
    display: flex;
    margin-left: auto;
    margin-right: 2rem;
}

.navbar ul li {
    display: flex;
    list-style-type: none;
    padding: 2rem;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 22px;
}

.navbar ul li a:hover {
    color: var(--accent2);
}


/* Main */

main {
    margin: 0 auto;
    width: 80%;
}

#hero {
    width: 100%;
    margin-top: 20px;
    padding: 2rem;
}

.main2 {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 1rem;
    grid-template-rows: 50px repeat(2, 1fr)
}

.main2 section {
    background-color: var(--light);
}

.main2 section h3 {
    margin-bottom: auto;
    padding: 1rem;
    border-bottom: 2px solid black;
}

#home-title {
    color: var(--light);
    display: grid;
}

.weather {
    padding: 1rem;
    font-size: 18px;
    background-color: var(--main);
}

.events {
    display: grid;
    grid-column: 1/5;
    grid-row: 2/3;
    background-color: var(--main);
}

.current-weather {
    display: grid;
    grid-column: 5/7;
    grid-row: 2/3;
    background-color: var(--main);

}

.weather-forcast {
    display: grid;
    grid-column: 7/9;
    grid-row: 2/3;
    background-color: var(--main);
}

.weather-for {
    background-color: var(--main);
}

.event-card {
    background-color: var(--main);
}


/* FORM */

.form {
    background-color: var(--main);
    display: flex;
    flex-direction: column;
    margin: 5rem;
    padding: 2rem;
    font-size: 20px;
}

.form input[type="text"] {
    margin: 1rem 1rem;
    height: 50px;
    width: 100%;
    padding: 20px 20px;
    font-size: 18px;
}

.membership {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.membership input[type="radio"] {
    appearance: none;
    background-color: black;
    width: 25px;
    height: 25px;
    border: 2px solid black;
    border-radius: 50%;
    position: relative;
    top: 7px;
    margin-left: 10px;
}

.membership input[type="radio"]:hover {
    background-color: lightgray;
}

.membership input[type="radio"]:checked {
    background-color: white;
}

textarea {
    width: 100%;
    height: 200px;
    margin: 2rem 0;
}

#submit {
    width: 50%;
    margin: auto;
    height: 50px;
}


/* discover page */

#card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 2rem 0;
}

.utah-card {
    display: grid;
    background-color: var(--accent);
    margin: 2rem;
    padding: 2rem;
    box-shadow: 0 5px 15px;
    border-radius: 10px;
}

.card-img {
    box-shadow: 0 5px 10px;
    margin-bottom: 10px;
    justify-self: center;
    border-radius: 5px;
}

.card-title {
    color: black;
    padding: 2rem;
}

.card-location {
    text-align: center;
}

.figure-card {
  display: none;
  border: 2px solid var(--dark);
  background: #ccc;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
}

.figure-card p {
  color: black;
}

.figure-card:not(.hidden) {
  display: block;
}

.hidden {
  display: none;
}

.clickable {
  cursor: pointer;
  transition: transform 0.2s;
}

.clickable:hover {
  transform: scale(1.03);
}